body {
  background-color: #F7F9F9 !important;
  /* color: rgb(201, 201, 201) !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.inverted.menu {
  font-size: large;
}

.ui.items {
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.ui.menu {
  margin-top: 0px !important;
}

.startpage {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  height: 80vh !important;
}
