body {
  background-color: #EAEAEA !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.inverted.menu{
  font-size: large;
}

.ui.items{
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  border-width: 1px;
  padding: 5px;
}