body {
  background-color: rgba(0, 0, 0, .25) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ui.inverted.menu{
  font-size: large;
}

.ui.items{
  background-color:rgb(201, 201, 201);
  border-radius: 10px;
  padding: 5px;
}

.ui.menu{
margin-top: 0px !important;
background-color: #383838 !important;
}